<!DOCTYPE html>

<html lang="en">
<head>
<title>IEEE Socket Pokemon</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/lib/three.min.js"></script>
<script src="/lib/ThreeJs_Extra/controls/OrbitControls.js"></script>
<script src="/lib/ThreeJs_Extra/controls/MouseControls.js"></script>
<script src="/lib/ThreeJs_Extra/loaders/ColladaLoader.js"></script>
<script src="/lib/ThreeJs_Extra/loaders/MTLLoader.js"></script>
<script src="/lib/ThreeJs_Extra/loaders/OBJLoader.js"></script>
</head>
<body>
</body>    
<script src="/javascript/setGameUp.js"></script>
</html>