<!DOCTYPE html>

<html lang="en">
<head>
<title>IEEE Socket Pokemon</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
<script src="/socket.io/socket.io.js"></script>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/three.min.js"></script>
<script src="/lib/ThreeJs_Extra/controls/OrbitControls.js"></script>
<script src="/lib/ThreeJs_Extra/controls/MouseControls.js"></script>
<script src="/lib/ThreeJs_Extra/loaders/MTLLoader.js"></script>
<script src="/lib/ThreeJs_Extra/loaders/OBJLoader.js"></script>
    
<!--Gets variable data from ejs that the server is sending-->
<script> var deviceID = "<%= device %>"; console.log("Device ID: " + deviceID); </script>
<script> var debugMode = <%= debugMode %>;</script>
</head>
<body>
    <canvas id="healthBar" style="z-index: 3; position: absolute; left:0px; top:0px; visibility: hidden;"></canvas>
    <div id="battleOptions" style="z-index: 3; position: absolute; right:100px; bottom:50px; visibility: hidden;">
        1 - Light Attack<br>
        2 - Big Attack<br>
        3 - Run<br>
        4 - Pokeball <br>
        5 - GreatBall <br>
        6 - UltraBall <br>
        7 - Potion <br>
        8 - Super Potion
    </div>
    <div id="storeOptions" style="z-index: 3; position: absolute; right:100px; top:50px; background-color: rgba(255,255,255,0.5); visibility: hidden;">
        1 - Pokeball - 200 coins <br>
        2 - Greatball - 400 coins <br>
        3 - Ultraball - 700 coins <br>
        4 - Potion - 200 coins <br>
        5 - Super Potion - 350 coins <br>
    </div>
    <div id="mainCanvas" style="z-index: 1; position: absolute; left:0px; top:0px;"></div>
    <div id="stats" style="z-index: 3; position: absolute; left:5px; top:5px; background-color: rgba(255,255,255,0.8); visibility: hidden;">        
        <b>Score:</b> <span id="stat_score"></span><br>
        <b>Coins:</b> <span id="stat_coins"></span><br>
        <br>        
        <b>Base Attack:</b> <span id="stat_baseAttack"></span><br>
        <b>Health:</b> <span id="stat_health"></span><br>
        <br>
        <b>PokeBalls:</b> <span id="stat_Pokeball"></span><br>
        <b>GreatBalls:</b> <span id="stat_Greatball"></span><br>
        <b>UltraBalls:</b> <span id="stat_Ultraball"></span><br>
        <b>Potions:</b> <span id="stat_Potion"></span><br>
        <b>Super Potions:</b> <span id="stat_SuperPotion"></span><br>
    </div>
</body>
    
<script src="/javascript/main.js"></script>
<script src="/javascript/sockets.js"></script>
<script src="/javascript/map_scene.js"></script>
<script src="/javascript/battle_scene.js"></script>
<script src="/javascript/HUD_Canvas.js"></script>
<script>
//inital call to set everything in motion
//called after everything is initalized
    initModel();    
</script>

</html>