<!DOCTYPE html>

<html lang="en">
<head>
<title>IEEE Audio Savage</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="/lib/jquery.min.js"></script>
</head>
<body>

</body>
    
</html>
